@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    margin: 0;
    background-color: #444444;
}
.barra a{
    color: #171717;
    font-family: 'Poppins', sans-serif;
}
a:hover{
    color:#eee;
    cursor: pointer;
}
.barra li{
    display: inline-block;
}
.logo{
    height: 40px;
    display: inline-block;
    align-self: flex-start;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header{
    background-color: #DA0037;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    position: fixed;
    top: 0;
}



